.signup-form {
  width: 100%;
  max-width: 400px; /* Adjust as necessary */
  padding: 20px;
  background-color: lightblue;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-id-input {
  width: 80%; /* Increased width of the input field */
  background-color: white; /* White background */
}

/* Added margin to label and adjusted alignment */
.form-group label {
  margin-bottom: 8px; /* Space between label and input */
  text-align: left; /* Align label text to the left */
  font-weight: bold;
}

/* Optional: Style the container for centering */
.signup-container {
  max-width: 100%;
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
}
